body {
    color: white;
    background-color: black;
}

div {
    margin-right: 20px;
}

header {
    background: rgb(52, 22, 107);
    color: white;
}

section {
    background: rgb(22, 35, 107);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
}

.categoria-videos {
    background: rgb(61, 112, 166);
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
